
.project-table {
  width: 100%;
  margin-top: 10px;
}

.project-table th,
.project-table td {
  border: 1px solid #ddd;
  text-align: left;
}

.project-table th {
  background-color: #f2f2f2;
}

.project-table tr:nth-child(even) {
  background-color: #e0e0e0;
}

.project-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.row-highlight {
  background-color: #e0e0e0;
}

.project_header {
  background-color: #19105b;
  width: 100%;
  height: 45px;
  color: white;
  padding: 5px;
}

.expand-icon {
  color: white;
}

.Project {
  width: 200%;
}

.accordion-container {
  position: static;
  margin-top: 100px;
  margin-left: 20px;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .Project {
    width: 200%;
  }

  .accordion-container {
    margin-top: 0;
    margin-left: 0;
  }

  .project-table {
    font-size: 12px;
  }

  .project_header {
    font-size: 14px;
    height: 30px; /* Reduce header height */
  }

  .expand-icon {
    font-size: 24px;
  }

  .row-highlight {
    background-color: transparent;
  }

  /* Allow table cells to wrap text */
  .project-table th,
  .project-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* Adjust padding for table cells */
  .project-table th,
  .project-table td {
    padding: 5px;
  }
}
